.fuego {
	background-color: #FF8128;
}

.agua {
	background-color: #2B9AF2;
}

.bicho {
	background-color: #88C63A;
}

.veneno {
	background-color: #CF63F4;	
}

.electrico {
	background-color: #F6E327;
}

.planta {
	background-color: #3CFD7B;
}

.volador {
	background-color: #55C2F8;
}

.roca {
	background-color: #CC986A;
}

.tierra {
	background-color: #F5BC8C;
}

.dragon {
	background-color: #C481F9;
}

.lucha {
	background-color: #D7523A;
}

.normal {
	background-color: #D4C0A7;
}

.psiquico {
	background-color: #FF61CA;
}

